apiVersion: v1
kind: Service
metadata:
  name: redis
  namespace: sre-copilot
  labels:
    app: redis
spec:
  type: ClusterIP
  ports:
    - port: 6379
      targetPort: 6379
  selector:
    app: redis
