apiVersion: v1
kind: Service
metadata:
  name: auth-service
  namespace: sre-copilot
  labels:
    app: auth-service
spec:
  type: ClusterIP
  ports:
    - port: 8501
      targetPort: 8501
  selector:
    app: auth-service
